<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
        integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body ng-app="myapp">
    <div ng-controller="myCtrl">
        <form>
            <input type="text" ng-model="myForm.name"><br><br>
            <input type="file" file-model="myForm.file"><br><br>
            <button ng-click="oke()">Submit</button>
        </form>
    </div>
    <script>
        const app = angular.module("myapp", []);
        app.directive('fileModel', ['$parse', function ($parse) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var model = $parse(attrs.fileModel);
                    var modelSetter = model.assign;

                    element.bind('change', function () {
                        scope.$apply(function () {
                            modelSetter(scope, element[0].files[0]);
                        });
                    });
                }
            };

        }]);
        app.controller("myCtrl", function ($scope, $http) {
            $scope.myForm = {
                des: "",
                file: {}
            }
            $scope.oke = function () {
                var data = new FormData();
                data.append("des", $scope.myForm.name);
                data.append("file", $scope.myForm.file);
                var config = {
                    "transformRequest": angular.identity,
                    "transformResponse": angular.identity,
                    "headers": {
                        'Content-Type': undefined
                    }
                }
                $http.post("/api/file", data, config).then(function (response) {
                    alert(response.data);
                })
            }
        })
    </script>
</body>

</html>